
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+Tammudu+2&family=Open+Sans+Condensed:wght@300&display=swap');


*{
    margin: 0;
    list-style-type:none;
    text-decoration: none;
    font-size: 2rem;
    border: none;
    outline: none;

}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    flex-direction: column;
}

html{
    font-size: 62.5%;
}

.container{
    width: 90%;
    margin:5rem auto;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(243, 243, 243);
    flex-direction: row;
    justify-content: space-around !important;
}
/* sidebar */
.sidebar{
    width: 15%;
    text-align: center;
    position: relative;
    left: -2rem;
}
.toggle{
    display: none;
}
.sidebar-h{
    font-size: 3.8rem;
    margin-bottom: 7rem;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
}
.sidebar ul{
    align-items: flex-start;
}
.sidebar ul li{
    font-size: 1.6rem;
    color: rgb(141, 137, 137);
    font-family: 'Baloo Tammudu 2', cursive;
    margin-bottom: 4rem;
    line-height: 2rem;
    cursor: pointer;
    transition: transform .1s;
}
.active{
    text-decoration: line-through;
    text-decoration-color: rgb(228, 47, 47);
    text-decoration-thickness: .2rem;
}
.sidebar ul li:hover{
    transform: scale(1.1);
    
}
.cart{
    display: none;
}
.sidebar-b{
    width: 70%;
    height: 5rem;
    background-color: rgb(247, 66, 66);
    color: #fff;
    border-radius: 3rem;
    font-size: 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

/* end-of-sidebar */

/* mainbar */
.mainbar{
    position: relative;
    left: -14rem;
    width: 60%;
}
.mainbar-info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5rem;
}
.mainbar-h{
    width: 70%;
    font-size: 6.5rem;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
}
.para{
    position: relative;
    right: -5rem;
    width: 20%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.para p{
    font-size: 1.5rem;
    font-family: 'Baloo Tammudu 2', cursive;
    color: rgb(141, 137, 137);
    line-height: 2rem;
}
.para .bar{
    width: 5rem;
    height: .2rem;
    background-color: red;
    margin-top: 1.6rem;
}
.food-menu{
    display: flex;
    margin-left: 1.6rem;
    margin-top: 8rem;
}
.food-card{
    width:auto;
    height: auto;
    border-radius: 2rem;
    margin: 0 1rem;
    background-color: #fff;
    padding: 3rem 2.5rem;
    justify-content: space-around !important;
    box-shadow: 1rem 1rem 2rem rgb(202, 198, 198);
    transition: transform .5s,position .5s;
}
.food-card:hover{
    position: relative;
    left: -.3rem;
    box-shadow: 1.2rem 1.2rem 2.2rem rgb(202, 198, 198);
    transform: scale(1.05);
    transition: transform .5s,position .5s;
}
.food-card img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
    
}
.food-card h2{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

/* end-of-mainbar */

/* font-family: 'Abril Fatface', cursive;
font-family: 'Baloo Tammudu 2', cursive;
font-family: 'Open Sans Condensed', sans-serif; */

/* RESPONSIVE MEDIA */

@media all and (max-width : 1920px) {
    html{
        font-size: 80%;
    }
}
@media all and (max-width : 1776px) {
    html{
        font-size: 65%;
    }
    .sidebar ul li{
        font-size: 2rem;
    }
    .sidebar ul{
        position: relative;
        left: 1.5rem;
    }

}
@media all and (max-width : 1520px) {
    html{
        font-size:60%;
    }
    .sidebar ul li{
        font-size: 2rem;
    }
}
@media all and (max-width : 1320px) {
    html{
        font-size:55%;
    }
    .food-menu{
        flex-wrap: wrap;
    }
    .food-menu .food-card:last-child{
        display: none;
    }
    .sidebar ul li{
        font-size: 2rem;
    }

}
@media all and (max-width : 1270px) {
    html{
        font-size:50%;
    }
    .mainbar-h{
        width: 70%;
        font-size: 6.5rem;
        position: relative;
        right: -10rem;
    }
    .para{
        position: relative;
        top: 40rem;
    }
    .food-menu{
        flex-wrap: wrap;
        margin-top: .5rem
    }
    .food-menu{
        width: 80%;
        position: relative;
        right: -12rem;
    }
    .food-card{
        margin: 1.8rem 2rem;
    }
    .food-card img{
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        
    }
    .sidebar ul li{
        font-size: 2rem;
    }

}
@media all and (max-width : 1110px){
    .mainbar-h{
        left: 15rem;
        width: 80%;
    }
    .mainbar{
        position: relative;
        left: -20rem;
    }
    .sidebar ul li{
        font-size: 2rem;
    }
}
@media all and (max-width : 1030px){
    .para{
        right: -10rem;
    }
}
@media all and (max-width : 965px){
    html{
        font-size: 48%;;
    }
    .mainbar{
        right: 12rem;
    }
    .para{
        right: -15rem;
    }
}
@media all and (max-width:900px){
    .mainbar-h{
        font-size: 5.5rem;
        width: 110%;
    }
    .food-menu{
        width: 100%;
    }.para{
        width: 30%;
    }
    .mainbar{
        right: 15rem;
    }
    .para{
        right: -20rem;
    }
    
}
@media all and (max-width: 800px){
    html{
        font-size: 50%
    }
    .container{
        flex-direction: column;
    }
    .sidebar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    .sidebar ul{
        flex-direction: row;
    }
    .sidebar ul li{
        font-size: 2rem;
        margin-right: 1.8rem;
        position: relative;
        right: 1.5rem;
    }
    
    .sidebar-b{
        min-width: 15rem;
        position: relative;
        top: -3.8rem;
        right: 1rem;
    }
    .mainbar-info{
        flex-direction: column;
    }
    .mainbar{
        width: 80%;
        bottom: 4rem;
        left: -3rem;
    }
    .mainbar-h{
        width: 70%;
    }
    .food-menu{
        top: -10rem;
    }
    .para{
        top: 62rem;
        width: 65%;
        left: 16rem;
    }
    .para p{
        font-size: 2.5rem;
        line-height: 20px;
    }
    

}
@media all and (max-width:700px){
    html{
        font-size: 45%;
    }
    .para{
        top: 65rem;
        width: 65%;
        left: 16rem;
    }
    .food-menu{
        top: -12rem;
    }
    .sidebar-h{
        left: -3rem;
    }
    .sidebar ul{
        position: relative;
        right: 10rem;
    }
    .sidebar-b{
        min-width: 14rem;
    }
    .mainbar{
        left:-8rem;
    }
    .food-card h2{
        font-size: 2.2rem;
    }
}
@media all and (max-width:640px){
    html{
        font-size: 40%;
    }
    .para{
        top: 68rem;
        width: 100%;
    }
    .food-menu{
        top: -12rem;
    }
    .sidebar-b{
        min-width: 14rem;
    }
    .mainbar{
        left:-8rem;
        top: -10rem;
    }
    .food-card h2{
        font-size: 2.2rem;
    }
}
@media all and (max-width:570px){
    html{
        font-size: 32%;
    }
    .para{
        top: 85rem;
        width: 90%;
    }
    .para p{
        font-size: 3.3rem;
    }
    .mainbar{
        left:-14rem;
        top: -14rem;
    }
    .food-card h2{
        font-size: 2.2rem;
    }
    .sidebar-b{
        display: none;
    }
    .cart{
        display: block;
        position: absolute;
        right: 1rem;
        top: 0rem;
    }
    .cart i{
        font-size:5rem;
        color: rgb(255, 6, 6);
    }
    .sidebar ul{
        display: none;
    }
    .toggle{
        display: block;

    } 
    .toggle i{
        font-size:5rem;
        position:absolute;
        top: 0rem;
        left: 1rem;
        color: rgb(255, 6, 6);
    } 
    .sidebar-h{
        position: absolute;
        top: -1rem;
        left: 18rem;
        font-size: 5rem;
    } 
    .sidebar{
        position: relative;
        top: -5rem;
        left: 1rem;
    }
    .food-menu{
        width: 110%;
    }
    .change .sidebar ul{
        display: block;

    }
}
@media all and (max-width:550px){
    .mainbar{
        left:-10rem;
    }
}
@media all and (max-width:445px){
    html{
        font-size: 30%;
    }
    .food-card h2{
        font-size: 3rem;
    }
    .para{
        top: 95rem;
    }
    .para p{
        font-size: 3.3rem;
    }
    .food-card img{
        margin: .5rem;
    }
    .mainbar{
        left:-15rem;
    }
}


